[Desktop Entry]
Encoding=UTF-8
Name=Tux Paint
Type=Application
Exec=/usr/bin/tuxpaint
Icon=tuxpaint
Terminal=false
GenericName=Drawing program
Comment=A drawing program for children.
StartupWMClass=TuxPaint.TuxPaint
X-Icon-path=/usr/share/pixmaps/
X-Window-Icon=tuxpaint
X-Window-Icon-Dimmed=tuxpaint
X-HildonDesk-ShowInToolbar=true
