[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/home/junling/git/TuxPaint-Android/jni/glib-2.44.1/gio/tests/gdbus-example-objectmanager-server
