<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tux Paint</string>
	<key>CFBundleGetInfoString</key>
	<string>0.9.22, Copyright 2009, Tux Paint Development Team</string>
	<key>CFBundleIconFile</key>
	<string>tuxpaint.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.newbreedsoftware.tuxpaint</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tux Paint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.22</string>
	<key>CFBundleSignature</key>
	<string>TXPT</string>
	<key>CFBundleVersion</key>
	<string>2009-06-29</string>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
